body {
  font-family: "Source Sans Pro",Arial,Helvetica,sans-serif;
  max-width: 800px;
  margin: 0 auto 40px; }

.answer {
  padding: 15px 20px 25px;
  border-bottom: 1px solid #ddd;
  font-size: 17px;
  line-height: 1.3;
  position: relative; }
  .answer a {
    color: #00a; }
  .answer div.content {
    overflow-x: hidden;
    word-wrap: break-word; }
  .answer.collapsed div.content {
    height: 0px;
    overflow: hidden; }
  .answer textarea.content {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    min-height: 200px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 8px;
    border: 1px solid #ccc; }
  .answer .controls button {
    border: 1px solid #999;
    background: #eee;
    box-shadow: 2px 2px #333;
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer; }
  .answer .controls button.success {
    border: 1px solid #090;
    background: #5c5;
    box-shadow: 2px 2px #333;
    font-size: 14px;
    padding: 5px 10px;
    color: white; }
  .answer input.title {
    font: inherit;
    display: block;
    width: 100%;
    box-sizing: border-box; }
  .answer .title h2,
  .answer input.title {
    margin-left: -20px;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: 600; }
  .answer input.title {
    padding-left: 17px;
    margin-top: 17px;
    margin-bottom: -4px;
    z-index: 100;
    position: relative; }
  .answer .title h2 {
    padding-left: 20px;
    margin-top: 21px; }
  .answer:not(.collapsed) .title h2:hover::before,
  .answer.collapsed .title h2::before {
    position: absolute;
    left: -10px;
    width: 20px;
    text-align: center;
    margin-top: 6px;
    display: block;
    font-size: 0.6em;
    cursor: pointer; }
  .answer:not(.answered) .title h2 {
    font-size: 1.2em;
    font-weight: 500; }
  .answer:not(.collapsed) .title h2:hover::before {
    content: "\25BC"; }
  .answer.collapsed .title h2::before {
    content: "\25B7"; }
  .answer p img {
    max-height: 350px;
    max-width: 100%; }
  .answer p img:only-child {
    display: block;
    margin: 0 auto; }
  .answer:not(.answered) .as-of::before {
    content: "UNANSWERED";
    font-weight: bold;
    color: #a44;
    margin-right: 5px; }
  .answer .as-of {
    font-weight: 500;
    color: #aaa;
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 0.9em; }
    .answer .as-of a.edit {
      display: inline-block;
      margin-left: 10px;
      color: inherit;
      padding: 0 6px; }
      .answer .as-of a.edit:hover {
        background: #fd4;
        cursor: pointer; }
  .answer.editing .as-of span {
    color: #444;
    background: #fd4; }
  .answer:not(:hover) a.edit {
    display: none; }

code, pre {
  background: #f8f8f8;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 0 4px; }

code {
  margin: 0 3px; }

pre > code {
  display: block;
  font-size: 0.9em;
  padding: 6px 0; }

h1 {
  font-weight: normal;
  color: #a44;
  margin-bottom: 0; }

#footer {
  padding: 15px 20px;
  font-size: 0.8em; }

#header {
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px; }

#header .caption {
  position: absolute;
  top: 12px;
  right: 0; }

#header .caption a {
  text-decoration: none; }

blockquote {
  margin-left: 10px;
  padding-left: 20px;
  border-left: 1px dashed #ccc; }

/*# sourceMappingURL=theme.css.map*/